create-Buildship/.gradle
create-Buildship/build
create-Buildship/buildSrc/build
create-Buildship/subprojects/*/build
create-Buildship/subprojects/docs/src/samples/*/*/build

create-Buildship/*.classpath
create-Buildship/*.project
create-Buildship/*.settings
create-Buildship/bin
create-Buildship/subprojects/*/bin
create-Buildship/atlassian-ide-plugin.xml

create-gradle-cmd/.gradle
create-gradle-cmd/build
create-gradle-cmd/buildSrc/build
create-gradle-cmd/subprojects/*/build
create-gradle-cmd/subprojects/docs/src/samples/*/*/build

create-gradle-cmd/*.classpath
create-gradle-cmd/*.project
create-gradle-cmd/*.settings
create-gradle-cmd/bin
create-gradle-cmd/subprojects/*/bin
create-gradle-cmd/atlassian-ide-plugin.xml

create_sts/.gradle
create_sts/build
create_sts/buildSrc/build
create_sts/subprojects/*/build
create_sts/subprojects/docs/src/samples/*/*/build

create_sts/*.classpath
create_sts/*.project
create_sts/*.settings
create_sts/bin
create_sts/subprojects/*/bin
create_sts/atlassian-ide-plugin.xml

